# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Production
build
dist

# Local env files
.env
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
*.md
!README.md
.DS_Store
